<%- include('../includes/head', {pageTitle: 'All Blogs'}) %>

<link rel="stylesheet" href="/styles/all-blogs.css">
</head>
<body>
    <%- include('../includes/nav-header') %>

    <main>
        <% if(!blogs || blogs.length === 0) { %>
            <div class="not-found">
                <% if(!locals.isAdmin) { %>
                    <p class="message">
                        Sorry! No blog found - Create some?
                    </p>

                    <p class="link-section">
                        <a href="/blog/new" class="btn">Create Blog</a>
                    </p>
                <% } else { %>
                    <p class="message">
                        No blog Yet!
                    </p>
                <% } %>
            </div>
        <% } else {%>
            <h1 class="heading">
                All Blogs
            </h1>

            <div>
                <ul id="blog-section" >
                    <% for(const blog of blogs) { %>
                        <%- include('blog-content', {blog: blog}) %>
                    <% } %>
                </ul>
            </div>

        <% } %>
    </main>

<%- include('../includes/footer') %>