<%- include('../includes/head', {pageTitle: 'Welcome'}) %>

<link rel="stylesheet" href="/styles/home-page.css">
</head>
<style>
</style>
<body>
    <%- include('../includes/nav-header') %>

    <main>
        <h1 class="heading">Welcome you all to this blogging site</h1>

        <section class="content">
            <p>This is my first site created by my own.</p>
            <p>It was owesome experience while creating this site.</p>

            <p>I hope you will try this.</p>
            
            <p>If you are new, <a href="/signup" class="btn btn-alt">Signup</a> now.</p>
        </section>
    </main>

<%- include('../includes/footer') %>