<%- include('../../includes/head', {pageTitle: 'Error'}) %>

<link rel="stylesheet" href="/styles/errors.css">
</head>
<body>
    <%- include('../../includes/nav-header') %>

    <main>
        <h1 class="heading">
            Page Not Found!
        </h1>

        <p>
            The requested address was not found on this server!
        </p>

        <button class="btn btn-alt"><a href="/">Back To safety</a></button>
    </main>

<%- include('../../includes/footer') %>