<%- include('../../includes/head', {pageTitle: 'Error'}) %>

<link rel="stylesheet" href="/styles/errors.css">
</head>
<body>
    <%- include('../../includes/nav-header') %>

    <main>
        <h1 class="heading">
            Something went wrong!
        </h1>

        <p>
            Some internal error occured! - we are fixing the error. Try again later
        </p>

        <button class="btn btn-alt"><a href="/">Back To safety</a></button>
    </main>

<%- include('../../includes/footer') %>